{% extends "base/box.html" %}
{% block title %}VirtualGaza Authors{% endblock %}

{% block content %}
	<ul>
	{% regroup author_list|dictsort:"neighborhood" by neighborhood as authors_sorted %}
		
	{% for neighborhood in authors_sorted %}
		<li>{{neighborhood.grouper}}</li>
		<ul>
		{% for author in neighborhood.list|dictsort:"last_name" %}
		<li><a rel="ibox" href="/author/{{author.first_name|slugify}}_{{author.last_name|slugify}}/">{{author.first_name}} {{author.last_name}} </a>
		{% endfor %}
		</ul>
	{% endfor %}
	</ul>
{% endblock %}