{% extends "base/tab.html" %}
{% block tab-title %}VirtualGaza Authors{% endblock %}

{% block tab-content %}
	{% if author_list %}
		<ul>
		{% regroup author_list|dictsort:"neighborhood" by neighborhood as authors_sorted %}
	
		{% for neighborhood in authors_sorted %}
			<li>{{neighborhood.grouper}}</li>
			<ul>
			{% for author in neighborhood.list|dictsort:"last_name" %}
			<li><a class="loadInAuthorTab" href="/author/{{author.first_name|slugify}}_{{author.last_name|slugify}}/">{{author.first_name}} {{author.last_name}} </a>
			{% endfor %}
			</ul>
		{% endfor %}
		</ul>
	{%endif%}
{% endblock %}

<script type="text/javascript">
$(document).ready(function($){
    $("a#loadInAuthorTab").tabs("url", 2, a.href).tabs("load",2);
  });
</script>