{% extends "base/base.html" %}
{% block title %}{{author.get_full_name}}{% endblock %}

{% block map %}
{% endblock %}

{% block caption %}	
	<img id="profile_pic" src="{{author.picture}}"</img>
	<div id="profile_text">
	{{author.get_full_name}}, {{ author.neighborhood.name }}<br>
	Joined: {{author.date_joined.date}}<br>
	<br />
	<ul>
	{% for post in posts %}
	<li>{{post.created_date.date}}: <a href="/testimony/{{post.created_date.year}}/{{post.created_date.month}}/{{post.created_date.day}}/{{post.description|slugify}}">{{post.description}}</li>
	{% endfor %}
	</ul>
	</div>
{% endblock %}