{% extends "base/base.html" %}
{% block title %}{{author.get_full_name}}{% endblock %}

{% block content %}	
	<!--<img id="profile_pic" src="{{author.picture}}"</img>-->
	<div id="profile_text">
	{{author.get_full_name}}, <a href="/neighborhood/{{ author.neighborhood.name|slugify }}">{{author.neighborhood.name}}</a><br>
	{% if posts %}
	<ul>
	{% for post in posts %}
	<li>{{post.created_date.date}}: <a class="loadInModal" href="/author/{{author.first_name|slugify}}_{{author.last_name|slugify}}/{{post.created_date.year}}/{{post.created_date.month}}/{{post.created_date.day}}/">{{post.description}}</a></li>
	{% endfor %}
	</ul>
	{% else %}
	Sorry, no posts yet.
	{%endif%}
	</div>
{% endblock %}