{% extends "base/base.html" %}

{% block title %}{{author.get_full_name}} | {{ year }} {{ month }} {{ day }}{% endblock %}

{%block css%}
<link rel="stylesheet" href="{{ MEDIA_URL }}/styles/posts.css" type="text/css"/>
{%endblock%}

{% block content %}
<table width=100%>
	<tr>
		<td id="postContent">
{% for post in postList %}
	<h2>{{ post.description }}</h2>
	<h3>{{ post.created_date|date:"N jS" }}</h3>
	{{ post.text|urlize|linebreaks}}
	<!-- AddThis Button BEGIN -->
	<script type="text/javascript">var addthis_pub="jlev";</script>
	<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/sm-plus.gif" width="16" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
	<!-- AddThis Button END -->
	<hr>
{% endfor %}
</td>

<td id="relatedPosts">
	{%if alsoByAuthor %}
	<div class="relatedBox">
		Also by {{author.get_full_name}}:<br>
		{% for post in alsoByAuthor %}
		<a href="{{post.get_absolute_url}}">{{post.description}}</a><br>
		{%endfor%}
	</div>
	{%endif%}

  <div class="relatedBox">
    Also on {{year}}-{{month}}-{{day}}:<br>
    &#187; <a href="http://www.nad-plo.org/pmg/reports/PMG.Daily.Sitrep.{{postList.0.created_date|date:"d"}}.{{postList.0.created_date|date:"m"}}.{{postList.0.created_date|date:"y"}}.pdf" target="_blank">PLO Daily Situation Report</a><br>
	{%if alsoOnDate %}
		{% for post in alsoOnDate %}
		{{post.author.get_full_name}}: <a href="{{post.get_absolute_url}}">{{post.description}}</a><br>
		{%endfor%}
	{%endif%}
  </div>

	{%if alsoInNeighborhood %}
	<div class="relatedBox">
	Also in {{author.neighborhood}}:<br>
		{% for post in alsoInNeighborhood %}
		{{post.author.get_full_name}}: <a href="{{post.get_absolute_url}}">{{post.description}}</a><br>
		{%endfor%}
	</div>
	{%endif%}
</td>
</tr>
</table>

<table>
<tr width=100%>
<td id="prevLink">
	{% if prev%}
	<a href="{{prev.get_absolute_url}}">&lt;&lt;</a>
	{% else %}
	&lt;&lt;
	{%endif%}
</td>
<td id="allLink"><a href="{{author.get_absolute_url}}">All</a></td>
<td id="nextLink">
	{%if next %}
	<a href="{{next.get_absolute_url}}">&gt;&gt;</a>
	{%else%}
	&gt;&gt;
	{%endif%}
</td>
</tr>
</table>
{% endblock %}