{% extends "base/base.html" %}

{% block title %}{{ first_name }} {{ last_name }} | {{ year }} {{ month }} {{ day }}{% endblock %}

{%block css%}
<link rel="stylesheet" href="{{ MEDIA_URL }}/styles/posts.css" type="text/css"/>
{%endblock%}

{% block content %}
{% for post in postList %}
	<h2>{{ post.description }}</h2>
	<h3>{{ post.created_date.date }}</h3>
	{{ post.text|linebreaks}}
	<hr>
{% endfor %}

<table width=100%>
<tr>

<td id="prevLink">
	{% if prev%}
	<a href={{prev}}>&lt;&lt;</a>
	{% else %}
	&lt;&lt;
	{%endif%}
</td>
<td id="allLink"><a href="/author/{{first_name|slugify}}_{{last_name|slugify}}/">All</a></td>
<td id="nextLink">
	{%if next %}
	<a href={{next}}>&gt;&gt;</a>
	{%else%}
	&gt;&gt;
	{%endif%}
</td>
</tr>
</table>
{% endblock %}