{% extends "base/base.html" %}

{% block title %}{{author.get_full_name}} | {{ year }} {{ month }} {{ day }}{% endblock %}

{%block css%}
<link rel="stylesheet" href="{{ MEDIA_URL }}/styles/posts.css" type="text/css"/>
{%endblock%}

{% block content %}
<table width=100%>
	<tr>
		<td id="postContent">
{% for post in postList %}
	<h2>{{ post.description }}</h2>
	<h3>{{ post.created_date|date:"N jS" }}</h3>
	{{ post.text|linebreaks}}
	<hr>
{% endfor %}
</td>

<td id="relatedPosts">
	{%if alsoByAuthor %}
	<div class="relatedBox">
		Also by {{author.get_full_name}}:<br>
		{% for post in alsoByAuthor %}
		<a href="{{post.get_absolute_url}}">{{post.description}}</a><br>
		{%endfor%}
	</div>
	{%endif%}

	{%if alsoOnDate %}
	<div class="relatedBox">
		Also on {{year}}-{{month}}-{{day}}:<br>
		{% for post in alsoOnDate %}
		{{author.get_full_name}}: <a href="{{post.get_absolute_url}}">{{post.description}}</a><br>
		{%endfor%}
	</div>
	{%endif%}

	{%if alsoInNeighborhood %}
	<div class="relatedBox">
	Also in {{author.neighborhood}}:<br>
		{% for post in alsoInNeighborhood %}
		{{author.get_full_name}}: <a href="{{post.get_absolute_url}}">{{post.description}}</a><br>
		{%endfor%}
	</div>
	{%endif%}
</td>
</tr>
</table>

<table>
<tr width=100%>
<td id="prevLink">
	{% if prev%}
	<a href="{{prev.get_absolute_url}}">&lt;&lt;</a>
	{% else %}
	&lt;&lt;
	{%endif%}
</td>
<td id="allLink"><a href="{{author.get_absolute_url}}">All</a></td>
<td id="nextLink">
	{%if next %}
	<a href="{{next.get_absolute_url}}">&gt;&gt;</a>
	{%else%}
	&gt;&gt;
	{%endif%}
</td>
</tr>
</table>
{% endblock %}