<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{%block css%}
	<link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css"/>
	<link type="text/css" href="{{MEDIA_URL}}jquery/theme/ui.all.css" rel="Stylesheet" />	
	<link rel="stylesheet" href="{{MEDIA_URL}}modal/styles/nyroModal.full.css" type="text/css" media="screen" />
	{%endblock%}
	
	<title>VirtualGaza | {% block title %}{{ pageTitle }}{% endblock %}</title>

	<!--Do the java stuff at the top, to avoid unstyled content flash.
		Might be faster to put it at the bottom-->
	{%block jquery%}
	<script src="{{MEDIA_URL}}jquery/jquery-1.3.1.js" type="text/javascript"></script>
	<script src="{{MEDIA_URL}}jquery/jquery.ui.all.js" type="text/javascript"></script>

	<script src="{{MEDIA_URL}}modal/js/jquery.nyroModal-1.3.1.pack.js" type="text/javascript"></script>
	<script src="{{MEDIA_URL}}modal/js/jquery.nyroModal-noAnim.js" type="text/javascript"></script>
	{%endblock%}
	{% block google%}
	<script src='http://maps.google.com/maps?file=api&amp;v={{ googleAPIVersion }}&amp;key={{ googleAPIKey }}' type="text/javascript"></script>
	{% endblock %}
	{% block openlayers %}
	<script src="{{ MEDIA_URL }}openlayers/OpenLayers.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}openlayers/ToolTips.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}openlayers/newSelectFeature.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}openlayers/customLayerSwitcher.js" type="text/javascript"></script>
	{% endblock %}

	{%block mapscript %}
	<script type="text/javascript">
	{% include "base/map.js" %}
	</script>
	{%endblock%}

	<script type="text/javascript">
	$(document).ready(function($){
		//get modal dialogs over the openlayers map
		$.fn.nyroModal.settings.css.bg.zIndex = 2000;
		$.fn.nyroModal.settings.css.wrapper.zIndex = 2001;
		$.fn.nyroModal.settings.css.loading.zIndex = 2002;

		$("#tabs").tabs({
			load: function(e, ui) {
				$('a.loadInAuthorTab', ui.panel).click(function() {
					$("#tabs").tabs("url", 2, this.href).tabs("select",2);
					return false;
				});

				$('a.loadInModal', ui.panel).click(function() {
					e.preventDefault();
					$.nyroModalManual({
						url: this.href,
						modal: false,
						width:800,
						height:600
					});
					return false;
				});
			}
		});
	});
	</script>
	</head>

  <body onload="init()">

	<table id="header" border="0" width="100%">
	<tr>
		<td rowspan="2" width="150px"><a id="logo" href="/"><img src="{{ MEDIA_URL }}vgaza_red_150.png" alt="VGAZA"/></a></td>
		<td>
			<a class="nyroModal" href="/about/english/">About</a>
			<a class="nyroModal" href="/submit/english/">Submit</a>
			<a class="nyroModal" href="/links/english/">Links</a>
		</td>
	</tr>
	<tr>
		<td align="right">
		<a class="nyroModal" href="/about/arabic/">من نحن</a>
		<a class="nyroModal" href="/submit/arabic/">إرسال</a>
		<a class="nyroModal" href="/links/arabic/">مواقع</a>
		</td>
	</tr>
	</table>

	<table border="0" width="100%">
	<tr>
		<td align="left" width="500px">
			<div id="map">
				<div id="js-hidden">
					Because your browser does not support javascript, many interactive features of this site will not function properly. Please upgrade to <a href="http://www.getfirefox.com">a modern browser</a>.
				</div>
				<script type="text/javascript">
				document.getElementById('js-hidden').style.display = 'none';
				</script>
			</div>

			<div id="mapKey">
				{% block mapKey %}{%endblock%}
			</div>
		</td>
	
	<td align="left" valign="top">
			<div id="tabs">
				<ul>
					<li><a href="/recent/"><span>Recent Posts</span></a></li>
					<li><a href="/author/"><span>Contributors</span></a></li>
					<li><a href="/search/"><span>Author</span></a></li> 
					<!--This link URL is overridden in map.js goToTabLink function.-->
				</ul>
			</div>
	</td>
	</tr>
	</table>

	<!--<div id="caption">
	{% block caption %}{{ captionText }}{% endblock %}
	</div>-->

	<div id="footer">
		{%block footer%}{%endblock%}
	</div>
	<div id="admin-login">
		<a href="/admin/">&pi;</a>
	</div>

<!-- Google Analytics Magic -->
<script type="text/javascript">/*
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));*/
</script>
<script type="text/javascript">/*
try {
var pageTracker = _gat._getTracker("UA-7059313-1");
pageTracker._trackPageview();
} catch(err) {}*/
</script>
</body>
</html>