<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}/style.css" type="text/css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}/ibox/skins/lightbox/lightbox.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="{{ MEDIA_URL }}/ibox/ibox.js"></script>
	<script type="text/javascript">
		iBox.default_width = 600;
		iBox.fade_in_speed = 0;
		iBox.setPath('{{ MEDIA_URL }}/ibox/');
	</script>
	
	{% block google %}<script src='http://maps.google.com/maps?file=api&amp;v={{ googleAPIVersion }}&amp;key={{ googleAPIKey }}'></script>{% endblock %}
	{% block openlayers %}
	<script src="{{ MEDIA_URL }}/openlayers/OpenLayers.js"></script>
	<script src="{{ MEDIA_URL }}/openlayers/ToolTips.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}/openlayers/newSelectFeature.js" type="text/javascript"></script>
	{% endblock %}
	<script type="text/javascript">
	{% include "base/map.js" %}
	</script>
	<title>VirtualGaza | {% block title %}{{ pageTitle }}{% endblock %}</title>
  </head>
  <body onload="init()">

	<div id="logo-left">
		<a href="/"><img src="{{ MEDIA_URL }}/vgaza_red_150.png"></a>
	</div>
	<div id="logo-right">
	</div>
	
	<div id="menu-left">
		{% block sidebar-left %}
		<ul>
			<li><a rel="ibox" href="/about/english/">About</a></li>
			<li><a rel="ibox" href="/author/">Contributors</a></li>
			<li><a rel="ibox" href="/recent/">Recent</a></li>
			<li><a rel="ibox" href="/submit/english/">Submit</a></li>
			<li><a rel="ibox" href="/links/english/">Links</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="menu-right">
		{% block sidebar-right %}
		<ul>
			<li><a rel="ibox" href="/about/arabic/">من نحن</a></li>
			<li><a rel="ibox" href="/author/">المشاركي</a></li>
			<li><a rel="ibox" href="/recent/">جديد</a></li>
			<li><a rel="ibox" href="/submit/arabic/">إرسال</a></li>
			<li><a rel="ibox" href="/links/arabic/">مواقع</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="centered">
		<div id="map">
			<div id="js-hidden">
				Because your browser does not support javascript, you cannot use the interactive map.<br>
				Please upgrade to <a href="http://www.getfirefox.com">a modern browser</a>.
			</div>
			<script type="text/javascript">
			document.getElementById('js-hidden').style.display = 'none';
			</script>
			{% block map %}{% endblock %}
		</div>
		<div id="mapKey">
			{% block mapKey %}{%endblock%}
		</div>
		<div id="caption">
		{% block caption %}{{ captionText }}{% endblock %}
		</div>
		<div id="content">
		{% block content %}{{ contentText }}{% endblock %}
		</div>
	</div>

	<div id="footer">
		{%block footer%}{%endblock%}
	</div>
	<div id="admin-login">
		<a href="/admin/">&pi;</a>
	</div>

<!-- Google Analytics Magic -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7059313-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>