{% extends "base/base.html" %}

{%block css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}styles/frontpage.css" type="text/css"/>
{%endblock%}

{%block scripts %}
{% include "gis/map.html" %}
{%endblock%}

{% load get_range %}

{%block content%}

	{%block map %}
	<table border="0" width="100%">
	<tr class="frontpageRow">
		<td class="frontpageColumn" align="left" width="500px">
			<div id="map">
				<div id="js-hidden">
					Because your browser does not support javascript, many interactive features of this site will not function properly. Please upgrade to <a href="http://www.getfirefox.com">a modern browser</a>.
				</div>
				<script type="text/javascript">
				document.getElementById('js-hidden').style.display = 'none';
				</script>
			</div>

			<div id="mapKey">
				{% block mapKey %}{%endblock mapKey%}
			</div>
			
			<div id="caption">
				{{captionText|safe}}
			</div>
			
			<div id="share-button">
			<!-- AddThis Button BEGIN -->
			<script type="text/javascript">var addthis_pub="jlev";</script>
			<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
			<!-- AddThis Button END -->
			</div>
		</td>
	{%endblock map%}

{%block recents%}	
	<td class="frontpageColumn" align="left" valign="top">
		<div id="recent">
			<div class="posts">
			<h2>Recent Testimony</h2>
			<div class="box">
			{% for post in posts %}
					<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/{{ post.created_date.year }}/{{ post.created_date.month }}/{{ post.created_date.day }}/">{{ post.description }}</a>:<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/">{{ post.author }}</a>, {{ post.created_date|date:"N jS" }}
				<br>
			{%endfor%}
			<div class="more">
				<a href="/testimony/">More testimony</a><br>
				<a href="/author/">More authors</a>
			</div>
			</div>
			
			<h2>Recent Photographs</h2>
			<div class="box">
				{% for a in albums.all %}
				<div class="gallery">
				<a href="">{{ a.albumname }}</a><br>
					{% for photo in a.sample %}
					<div class="gallery-photo">
					<a href="{{ photo.photopage_url }}"><img src="{{ photo.thumbnail_url }}" width="100" alt="{{ photo.title }} by {{photo.owner}}"/></a>
					</div>
				{%endfor%}
				</div>
			{%endfor%}
			<div class="more">
				<a href="/photos/">More photographs</a>
			</div>
			</div>
			
			<h2>Recent Videos</h2>
				<div class="box">
				<div class="gallery">
				{% for v in videos %}
					<div class="gallery-video">
						<a href="{{v.url}}"><img src="{{ v.thumbnail_url }}" alt="{{v.description}}" height="100"/></a>
					</div>
				{%endfor%}
				<div class="more">
					<a href="/video/">More video</a>
				</div>
			</div>
			</div>
			
		</div>
	</td>
	</tr>
	</table>
	{%endblock recents%}

{%endblock content %}