{% extends "base/base.html" %}

	{%block css %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}styles/frontpage.css" type="text/css"/>
	{%endblock%}

	{% block scripts%}
	<script src='http://maps.google.com/maps?file=api&amp;v={{ googleAPIVersion }}&amp;key={{ googleAPIKey }}' type="text/javascript"></script>

	<script src="{{ MEDIA_URL }}openlayers/OpenLayers.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}openlayers/ToolTips.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}openlayers/newSelectFeature.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}openlayers/customLayerSwitcher.js" type="text/javascript"></script>

	<script type="text/javascript">
	{% include "base/map.js" %}
	</script>
	{%endblock%}

{%block content%}

	{%block map %}
	<table border="0" width="100%">
	<tr>
		<td class="frontpageColumn" align="left" width="500px">
			<div id="map">
				<div id="js-hidden">
					Because your browser does not support javascript, many interactive features of this site will not function properly. Please upgrade to <a href="http://www.getfirefox.com">a modern browser</a>.
				</div>
				<script type="text/javascript">
				document.getElementById('js-hidden').style.display = 'none';
				</script>
			</div>

			<div id="mapKey">
				{% block mapKey %}{%endblock mapKey%}
			</div>
		</td>
	{%endblock map%}

{%block recents%}	
	<td class="frontpageColumn" align="left" valign="top">
		<div id="recent">
			<div class="posts">
			<h2>Recent Testimony</h2>
			<div class="box">
			{% for post in posts %}
					<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/{{ post.created_date.year }}/{{ post.created_date.month }}/{{ post.created_date.day }}/">{{ post.description }}</a>:<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/">{{ post.author }}</a>, {{ post.created_date.day }}/{{ post.created_date.month }}
				<br>
			{%endfor%}
			</div>
			
			<h2>Recent Photographs</h2>
			<div class="box">
				{% for gallery in photos %}
				<div class="gallery">
				<a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a><br>
					{% for photo in gallery.sample|slice:":4" %}
					<div class="gallery-photo">
					<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_frontpage_thumbnail_url }}" alt="{{ photo.title }}"/></a>
					</div>
				{%endfor%}
				</div>
			{%endfor%}
			</div>
			
			<h2>Recent Videos</h2>
				<div class="box">
				{% for v in videos %}
					<div class="gallery-video">
						<a href="/video/{{v.created_date.year}}/{{v.created_date.month}}/{{v.created_date.day}}/"><img src="{{ v.video.url }}.jpg" alt="{{v.description}}"/></a>
					</div>
				{%endfor%}
			</div>
			
		</div>
	</td>
	</tr>
	</table>
	{%endblock recents%}

{%endblock content %}