body {
	background:silver;
	border:none;
	color:black;
	font-family:arial, sans-serif;
	font-size:12pt;
}

a {
	color:#424242;
	text-decoration:none;
}

a:hover {
	color:black;
	text-decoration:none;
}

a img {
	border:none;
}

#blackbar {
	width:100%;
	background:black;
}

table#header {
	color:white;
	background:black;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:5px;
	width:1000px;
	border:0;
	margin:auto;
}

table#header a {
	color:white;
	font-weight:bold;
	padding-left:5px;
}

table#header a#logo img {
	border:none;
}

table#header a.links-english {
	font-size:9pt;
	text-align:left;
}

table#header a.links-arabic {
	font-size:9pt;
}

#contentBox {
	position:relative;
	top:10px;
	margin:auto;
	padding:5px;
	border:1px solid #2E2E2E;
	width:1000px;
}

#credits{
	font-size:10pt;
	list-style:disc;
}

#footer {
	position:absolute;
	margin-left:5px;
	margin-bottom:10px;
	bottom:0px;
	font-size:10pt;
}

#admin-login {
	position:absolute;
	right:0px;
	margin-right:5px;
	bottom:5px;
}

#admin-login a {
	color:black;
}


#js-hidden {
	/* display:none set inline by js */
	margin-top:300px;
	text-align:center;
}
.rtl {
	text-align:right;
}