body {
	background:silver;
	border:none;
	color:black;
	font-family:arial, sans-serif;
	font-size:12pt;
}

a {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:black;
	text-decoration:none;
}

a img {
	border:none;
}

table#header {
	color:white;
	background:black;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:5px;
	width:100%;
	border:0;
}

table#header a {
	color:white;
	font-weight:bold;
	padding-left:5px;
}

table#header a#logo img {
	border:none;
	padding-left:10px;
}

table#header td#links-english {
	font-size:9pt;
	text-align:right;
}

table#header td#links-english a {
	padding-right:10px;
}

table#header td#links-arabic {
	font-size:12pt;
	text-align:right;
}

table#header td#links-arabic a {
	padding-right:10px;
}

.gallery-photo {
	display:inline;
	padding-left:5px;
}

#credits{
	font-size:10pt;
	list-style:disc;
}

#footer {
	position:absolute;
	margin-left:5px;
	margin-bottom:10px;
	bottom:0px;
	font-size:10pt;
}

#admin-login {
	position:absolute;
	right:0px;
	margin-right:5px;
	bottom:5px;
}

#admin-login a {
	color:black;
}


#js-hidden {
	/* display:none set inline by js */
	margin-top:300px;
	text-align:center;
}
.rtl {
	text-align:right;
}