#map {
	height:600px;
	width:600px;
	border:solid 1px;
}

#mapKey {
	text-align:left;
}

#layersDiv {
	font-size:10pt;
}

#dataLbl {
	display:block;
	padding-right:5px;
}

#dataLayersDiv {
	display:block;
	padding-right:5px;
}

.olControlScaleLine {
	background:white;
	border:1px solid black;
	border-bottom:1px white;
	width:100px;
	height:25px;
	padding:5px;
	position:absolute;
	top:5px;
	right:5px;
}

.olControlLegend {
	position:absolute;
	border:1px solid black;
	border-top:1px white;
	background:white;
	top:35px;
	right:5px;
	width:100px;
	padding:5px;
	font-style:italic;
	text-align:left;
	font-size:8pt;
	color:black;
}

.olControlAttribution {
	position:absolute;
	top:585px;
	font-style:italic;
	text-align:right;
	font-size:8pt;
	color:white;
}

.bombingName {
	font-style:bold;
	text-align:center;
	font-size:10pt;
}

.bombingDesc {
	font-style:none;
	text-align:left;
	font-size:9pt;
}

.bombingCasualties {
	font-style:italic;
	text-align:left;
	font-size:9pt;
}