#map {
	height:600px;
	width:600px;
	border:solid 1px;
}

#mapKey {
	text-align:left;
}

#layersDiv {
	font-size:10pt;
}

#dataLbl {
	display:inline;
	padding-right:5px;
}

#dataLayersDiv {
	display:inline;
	padding-right:5px;
}

.bombingName {
	font-style:bold;
	text-align:center;
	font-size:10pt;
}

.bombingDesc {
	font-style:none;
	text-align:left;
	font-size:9pt;
}

.bombingCasualties {
	font-style:italic;
	text-align:left;
	font-size:9pt;
}