#gallery {
    margin-left:auto;
    margin-right:auto;
}

#main_photo {
    text-align:center;
    font:italic;
}

p#nav {
    text-align:center;
}

#bottom {
    margin-top:20px;
    clear:left;
}

#sample-photo {
    display:inline;
    padding-right:10px;
}

