#postContent {
	max-width:600px;
}

#relatedPosts {
	width:300px;
	vertical-align:top;
}

#relatedPosts .relatedBox {
	border:1px solid black;
	padding:5px;
	margin-top:5px;
}

#prevLink {
	text-align:left;
	width:50%;
}

#allLink {
	text-align:center;
}

#nextLink {
	text-align:right;
	width:50%;
}