body {
	background:silver;
	border:none;
	color:black;
	font-family:arial, sans-serif;
	font-size:12pt;
}

a {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:black;
	text-decoration:none;
}

table#header a {
	color:black;
	font-weight:bold;
	padding-left:5px;
}

a#logo img {
	border:none;
}

#map {
	height:600px;
	width:600px;
	border:solid 1px;
}

#mapKey {
	text-align:left;
	width:600px;
}

#tabs {
	font-size:12pt;
	text-align:left;
	height:600px;
}

.tab-content a {
	color:blue;
}

.tab-content a:hover {
	color:black;
}

.tab-content .postList {
	padding-bottom:5px;
}

.tab-content .postList .description {
	display:inline;
	font-weight:italic;
}

.tab-content .postList .author {
	display:inline;
	font-style:bold;
}

.tab-content .postList .date {
	display:inline;
}

#profile-pic {
	position:relative;
	float:left;
	margin-right:10px;
}

#profile-text {
	/* doesn't float properly, fix before launch */
	position:relative;
	float:right;
}

#credits{
	font-size:10pt;
	list-style:disc;
}

#footer {
	position:absolute;
	margin-left:5px;
	margin-bottom:10px;
	bottom:0px;
	font-size:10pt;
}

#admin-login {
	position:absolute;
	right:0px;
	margin-right:5px;
	bottom:5px;
}

#admin-login a {
	color:black;
}


#js-hidden {
	/* display:none set inline by js */
	margin-top:300px;
	text-align:center;
}
.rtl {
	text-align:right;
}