{% extends "base/base.html" %}
{% block title %}{{ pageTitle }}{% endblock %}

{%block scripts %}
{% include "gis/map.html" %}
{%endblock%}

{%block css%}
<link type="text/css" href="{{MEDIA_URL}}styles/neighborhood_page.css" rel="Stylesheet" />	
{%endblock%}

{% block content %}
<a href="/">Gaza Strip</a> &gt;&gt; {{theNeighborhood}}

<table>
<tr>
	<td valign="top">
	{% block map %}
	<div id="map">
		<div id="js-hidden">
			Because your browser does not support javascript, many interactive features of this site will not function properly. Please upgrade to <a href="http://www.getfirefox.com">a modern browser</a>.
		</div>
		<script type="text/javascript">
		document.getElementById('js-hidden').style.display = 'none';
		</script>
	</div>

	<div id="mapKey">
		{% block mapKey %}{%endblock mapKey%}
	</div>
	{% endblock map%}
	</td>

	<td valign="top">
		{%if authorList %}
			<script type="text/javascript">
			var display = "<div id='numAuthors'><b>";
			var numAuthors = {{authorList|length}};
			if (numAuthors == 1) {
				display += numAuthors + " author";
			} else {
				display += numAuthors + " authors";
			}
			display += ' in {{theNeighborhood}}</b><br>';

			display += '<div class=authorFaces>';
			var i = 1;
			for (i=1;i<=numAuthors;i++) {
				display += '<img src="{{MEDIA_URL}}pins/male.png">';
				if ((i % 5) == 0) {
					display += '<br>';
				}
			}
			display += '</div>';
			//document.write(display);
			</script>
			
			<b>{{authorList|length}} authors in {{theNeighborhood}}</b><br>
			<ul>
			{% for author in authorList|dictsort:"last_name" %}
				<li type="circle"><a  href="/author/{{author.first_name|slugify}}_{{author.last_name|slugify}}/">{{author.first_name}} {{author.last_name}} </a>
			{% endfor %}
			</ul>
		{%else%}
			There are currently no authors in {{theNeighborhood}}<br>
		{%endif%}
		
		<b>{{recentPosts|length}} recent post{{recentPosts|length|pluralize}} in {{theNeighborhood}}</b><br>
		{% for post in recentPosts %}
				<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/{{ post.created_date.year }}/{{ post.created_date.month }}/{{ post.created_date.day }}/">{{ post.description }}</a>:<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/">{{ post.author }}</a>, {{ post.created_date|date:"N jS" }}
			<br>
		{%endfor%}
		<br>
		
		{%if galleryList %}
		<b>{{galleryList|length}} photo galler{{galleryList|length|pluralize:"y,ies"}} in {{theNeighborhood}}</b>
		{%for gallery in galleryList%}
			<br>
			<div class="gallery-photo"><a href="{{ gallery.get_absolute_url }}"><img src="{{ gallery.sample.0.get_frontpage_thumbnail_url }}" alt="{{ gallery.sample.0.photo.title }}"/></a></div>
			<div class="gallery-title">{{gallery.title}}</div>
		{%endfor%}
		{%endif%}
		<br>
		
		{%if videoList %}
		<b>{{videoList|length}} video{{videoList|length|pluralize}} in {{theNeighborhood}}</b><br>
		{% for video in videoList %}
				<a href="/video/{{video.created_date.year}}/{{video.created_date.month}}/{{video.created_date.day}}/"><img src="{{ video.video.url }}.jpg" alt="{{video.description}}"/></a>
		{%endfor%}
		{%endif%}
	</td>
</tr>

{% endblock content%}