
<div class="box" id="posts">
	<h3>Recent Posts from 
	{% for n in neighborhoodList %}
		{%if n.hasContent %}
			{{n.name}}{%if not forloop.last %},{%endif%}
		{%endif%}
	{% endfor %}
	</h3>

{% for post in recentPosts %}
	<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/{{ post.created_date.year }}/{{ post.created_date.month }}/{{ post.created_date.day }}/">{{ post.description }}</a>:<a href="/author/{{post.author.first_name|slugify}}_{{post.author.last_name|slugify}}/">{{ post.author }}</a>, {{ post.created_date|date:"N jS" }}
	<br>
{%endfor%}
<div class="more">
	<a href="/testimony/">More Testimony</a><br>
	<a href="/authors/">More Authors</a><br>
</div>
</div>

<div class="box" id="photos">
<h3>Recent Photographs</h3>
{% for gallery in photos %}
	<div class="gallery">
	<a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a><br>
	{% for photo in gallery.public|slice:":4" %}
		<div class="gallery-photo">
		<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_frontpage_thumbnail_url }}" alt="{{ photo.title }}"/></a>
		</div>
	{%endfor%}
	</div>
{%endfor%}
<div class="more">
<a href="/photologue/gallery/">More photographs</a>
</div>
</div>


<div class="box" id="videos">
<h3>Recent Videos</h3>
{% for v in videos %}
	<div class="gallery-video">
	       <a href="/video/{{v.created_date.year}}/{{v.created_date.mont
	h}}/{{v.created_date.day}}/"><img src="{{ v.video.url }}.jpg" alt="{{v.description}}"/></a>
	</div>
{%endfor%}
<div class="more">
	<a href="/video/">More video</a>
</div>
</div>

<script type="text/javascript">
$j = jQuery.noConflict();
/*
	$j(function() {
		$j("#neighborhoodList").accordion({ header: 'h3' });
	});
*/
</script>