{% extends "photologue/root.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>

<div id="gallery">

<div id="main_photo">
</div>

<p id="nav"><a href="#" onclick="$.galleria.prev(); return false;">&laquo; previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next &raquo;</a></p>

<div id="thumbnails">
  <ul class="gallery">
    {% for photo in object.public %}
    <li {% if forloop.first %}class="active"{%endif%}><a href="{{photo.get_display_url}}" title="{{photo.caption}}"><img src="{{ photo.get_thumbnail_url }}" alt="{{photo.title}}"/></a></li>
    {% endfor %}
    </ul>
</div>

<div id="bottom"
<em>Originally published {{ object.date_added|date:"l, F jS, Y" }}</em>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<p><a href="{% url pl-gallery-list 1 %}">View all galleries</a></p>
</div>

{% endblock %}

{%block scripts%}
<link href="{{MEDIA_URL}}jquery/galleria/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script type="text/javascript" src="{{MEDIA_URL}}jquery/jquery-1.3.1.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}jquery/galleria/jquery.galleria.js"></script> 
<script type="text/javascript"> 
jQuery(function($) {
  $('ul.gallery').galleria({
  			history   : true, // activates the history object for bookmarking, back-button etc.
  			clickNext : true, // helper for making the image clickable
  			insert    : '#main_photo', // the containing selector for our main image
  			onImage   : function(image,caption,thumb) { // let's add some image effects for demonstration purposes

  				// fade in the image & caption
  				if(! ($.browser.mozilla && navigator.appVersion.indexOf("Win")!=-1) ) { // FF/Win fades large images terribly slow
  					image.css('display','none').fadeIn(1000);
  				}
  				caption.css('display','none').fadeIn(1000);

  				// fetch the thumbnail container
  				var _li = thumb.parents('li');

  				// fade out inactive thumbnail
  				_li.siblings().children('img.selected').fadeTo(500,0.3);

  				// fade in active thumbnail
  				thumb.fadeTo('fast',1).addClass('selected');

  				// add a title for the clickable image
  				image.attr('title','Next image >>');
  			},
  			onThumb : function(thumb) { // thumbnail effects goes here

  				// fetch the thumbnail container
  				var _li = thumb.parents('li');

  				// if thumbnail is active, fade all the way.
  				var _fadeTo = _li.is('.active') ? '1' : '0.3';

  				// fade in the thumbnail when finished loading
  				thumb.css({display:'none',opacity:_fadeTo}).fadeIn(1500);

  				// hover effects
  				thumb.hover(
  					function() { thumb.fadeTo('fast',1); },
  					function() { _li.not('.active').children('img').fadeTo('fast',0.3); } // don't fade out if the parent is active
  				)
  			}
  		});
}); 

</script>
{%endblock%}